body {
    background-color: white;
    color: black;
    padding: 20px;
}
.oscuro {
    background-color: #1a1a1a;
    color: white;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

